@import "macchiato.css";
/* reference:
Thanks for https://www.reddit.com/r/unixporn/comments/cyevtf/sway_my_new_rice/
And previous style.css in my repo
*/

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
  background: @base;
  border-bottom: 3px solid transparent;
}

#workspaces {
  background: @surface0
}

#workspaces button {
  padding: 0 5px;
  margin: 0 3px;
  border-bottom: 3px solid transparent;
}

#workspaces button label {
  color: @text;
  margin: 0px 3px 0px 3px;
  padding: 0px;
}

#workspaces button.active {
  background: @overlay1;
  margin: 2px 0px 2px 0px;
  border-radius: 5px;
}

#cpu, #memory, #temperature, #battery, #backlight, #pluseaudio, #network, #clock, #bluetooth {
	padding: 0 5px;
	margin: 0 0px;
}

#cpu {
  color: @mantle;
  background: @yellow;
}

#memory {
  color: @mantle;
  background: @lavender;
}

#temperature {
  color: @mantle;
  background: @maroon;
}

#battery {
  color: @mantle;
  background: @green;
}

#backlight {
  color: @mantle;
  background: @peach;
}

#pulseaudio {
  color: @mantle;
  background: @teal;
}

#network {
  color: @mantle;
  background: @mauve;
}

#clock {
  color: @mantle;
  background: @flamingo;
}

#bluetooth {
  color: @mantle;
  background: @rosewater;
}
